<html>
<head>
    <title>{{ "Thanks for your purchase" | trans}}</title>
</head>
<body>
    <table width="600" style="width: 600px">
        <thead>
            <tr>
                <td>{{ "Our company" | trans}}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% block body %}{% endblock %}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
