<html>
<head>
    <title>Email</title>
</head>
<body>
    <table width="600" style="width: 600px">
        <thead>
            <tr>
                <td>Mail header</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% block body %}{% endblock %}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Mail footer</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
